<div class="cards">
	<div class="row">
		<div class="item">
			<fa-icon [icon]="faCoffee"></fa-icon>
			<p class="homeItemtxt">Available groups</p>
		</div>
		<div class="item">
			<mat-icon class="homeItemIcon">person</mat-icon>
			<p class="homeItemtxt">Best student for the month</p>
		</div>
		<div class="item">
			<mat-icon class="homeItemIcon">library_books</mat-icon>
			<p class="homeItemtxt">Tests today</p>
		</div>
	</div>
	<div class="row">
		<div class="item">
			<p class="homeItemtxt">Available groups</p>
		</div>
		<div class="item">
			<mat-icon class="homeItemIcon">person</mat-icon>
			<p class="homeItemtxt">Best student for the month</p>
		</div>
		<div class="item">
			<mat-icon class="homeItemIcon">library_books</mat-icon>
			<p class="homeItemtxt">Tests today</p>
		</div>
	</div>
</div>