.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item{
	background-color: var(--mc);
	margin: 20px;
	width: 30%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
	box-shadow: -13px 13px 46px 4px rgba(0,0,0,0.47);
	cursor: pointer;
	transition: 0.5s;
}

.item:hover{
	box-shadow: -16px 16px 49px 7px rgba(0,0,0,0.87);
}

.homeItemIcon{
	color: var(--fg);
	width: 120px;
	height: 150px;
	font-size: 120px;
}

.homeItemtxt{
	color: var(--fg);
	font-size: 40px;
	inline-size: 300px;
}

.homebtnContainer{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homebtns{
	margin: 20px;
	width: 250px;
	height: 60px;
}

.homeDataGridContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.homeDataGrid{
	border: solid 3px var(--mc);
	height: auto;
	margin: 20px;
}

.dataGridtxtContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
}

.dataGridtxt{
	text-align: center;
	width: 300px;
	color: var(--mc);
	font-size: 22px;
}

.dataGridItem{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--lbg);
	margin: 10px;
	transition: 0.4s;
	cursor: pointer;
}

.dataGridItem:hover{
	background-color: var(--dbg);
}

.NotReadyHomeItemIcon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	font-size: 120px;
	color: var(--fg);
}
