<div class="cards">
	<div class="row">
		<div class="item">
			<fa-icon class="homeItemIcon" [icon]="faUs"></fa-icon>
			<p class="homeItemtxt">Available groups</p>
		</div>
		<div class="item">
			<fa-icon class="homeItemIcon" [icon]="faUG"></fa-icon>
			<p class="homeItemtxt">Best student for the month</p>
		</div>
		<div class="item">
			<fa-icon class="homeItemIcon" [icon]="faB"></fa-icon>
			<p class="homeItemtxt">Tests today</p>
		</div>
	</div>
	<div class="row">
		<div class="item">
			<fa-icon class="homeItemIcon" [icon]="faUG"></fa-icon>
			<p class="homeItemtxt">Number of students {{ StudentsNumber }}</p>
		</div>
		<div class="item">
			<fa-icon class="homeItemIcon" [icon]="faT"></fa-icon>
			<p class="homeItemtxt">Number of teachers {{ TeachersNumber }}</p>
		</div>
		<div class="item">
			<fa-icon class="homeItemIcon" [icon]="faUs"></fa-icon>
			<p class="homeItemtxt">Number of groups {{ GroupsNumber }}</p>
		</div>
	</div>
</div>
<div class="homebtnContainer">
	<button class="homebtns" [@PClickedT]="PClicked ? 'PClicked' : 'PNotClicked'" (click)="toggleP(); toggleS();" mat-stroked-button>Primary</button>
	<button class="homebtns" [@SClickedT]="SClicked ? 'SClicked' : 'SNotClicked'" (click)="toggleS(); toggleP();" mat-stroked-button>Secondary</button>
</div>

<div class="homeDataGridContainer" [@SGridClickedT]="SClicked ? 'SGridClicked' : 'SGridNotClicked'">
	<div class="homeDataGrid">
		<fa-icon class="NotReadyHomeItemIcon" [icon]="faTO"></fa-icon>
		<p class="NotReadyHomeItemIcon" style="font-size: 30px; height: auto; margin-top: -50px; color: white;">This feature is under construction</p>
	</div>
</div>

<div class="homeDataGridContainer" [@PGridClickedT]="PClicked ? 'PGridClicked' : 'PGridNotClicked'">
	<div class="dataGridtxtContainer">
		<p class="dataGridtxt">Student Name</p>
		<p class="dataGridtxt">Date</p>
		<p class="dataGridtxt">Full Amount Of Money</p>
		<p class="dataGridtxt">Monthly Payment</p>
		<p class="dataGridtxt">Amount</p>
	</div>
	<div class="homeDataGrid">
		<div class="dataGridItem" *ngFor="let item of sthtp;">
			<p class="dataGridtxt">{{item.SN}}</p>
			<p class="dataGridtxt">{{item.D}}</p>
			<p class="dataGridtxt">{{item.FAOM}}</p>
			<p class="dataGridtxt">{{item.MP}}</p>
			<p class="dataGridtxt">{{item.A}}</p>
		</div>
	</div>
</div>

