*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	--dbg: #1E1E1E;
  --lbg: #2D2D30;
	--fg: #fff;
	--mc: #007ACC;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--dbg);
}

.sidenav {
	background-color: var(--lbg);
	color: var(--fg);
	width: 12%;
  padding: 20px 8px;
}

.sidenavContent {
	background-color: var(--dbg);
	color: var(--fg);
  height: 100%;
}

.Iconbtn{
	color: var(--mc);
}

.sidenav{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
}

.navbtn{
	padding: 5px;
	margin: 15px 0;
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-right: solid 3px var(--mc);
	transition: 0.3s ease-in-out;
	cursor: pointer;
}


.navbtn:hover{
	background-color: var(--dbg);
	padding: 15px;
	margin: 5px 0;
  transform: rotate(-3deg);
}

.navbtnIcon{
	font-size: 24px;
	color: var(--mc);
}

.navbtntxt{
	margin-left: 40px;
	width: 150px;
	font-size: 17px;
	color: var(--fg);
	transition:all linear 0.5s;
}

.glow{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}
