<div class="dialog">
	<p style="font-size: 22px;">Are you Sure?</p>
	<div class="btnsContainer">
		<div class="roundedbtnOneHolder">
			<div class="roundedbtn" style="background-color: var(--mc);" mat-dialog-close>
				<fa-icon class="roundedbtnIcon" [icon]="faC"></fa-icon>
			</div>
		</div>
		<div class="roundedbtnTwoHolder">
			<div class="roundedbtn" style="background-color: var(--lbg);" mat-dialog-close>
				<fa-icon class="roundedbtnIcon" [icon]="faT"></fa-icon>
			</div>
		</div>
	</div>
</div>
