/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
	--dbg: #1E1E1E;
  --lbg: #2D2D30;
	--fg: #fff;
	--mc: #007ACC;
	--rc: #d32f2f;
}

.custom-modalbox > mat-dialog-container {
  background-color: var(--dbg);
	border-radius: 20px;
}

::-webkit-scrollbar {
	width: 4px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--mc);
	border-radius: 3px;
}

