<div class="dialog">
	<div class="header">
		<div class="iconHolder">
			<div class="icon">
				<fa-icon class="navbtnIcon" [icon]="faCT"></fa-icon>
			</div>
		</div>
		<p class="headertxt">Assign course to teacher</p>
	</div>
	<div class="content">
		<div class="row">
			<mat-form-field class="txtInput">
				<mat-label class="txtInput">Teacher</mat-label>
				<input matInput>
			</mat-form-field>
			<mat-form-field class="txtInput">
				<mat-label class="txtInput">Teacher</mat-label>
				<input matInput>
			</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field class="txtInput">
			<mat-label class="txtInput">Teacher</mat-label>
			<input matInput>
		</mat-form-field>
		<mat-form-field class="txtInput">
			<mat-label class="txtInput">Teacher</mat-label>
			<input matInput>
		</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field class="txtInput">
			<mat-label class="txtInput">Teacher</mat-label>
			<input matInput>
		</mat-form-field>
		<mat-form-field class="txtInput">
			<mat-label class="txtInput">Teacher</mat-label>
			<input matInput>
		</mat-form-field>
		</div>
		<div class="btnsContainer">
			<div class="roundedbtnOneHolder">
				<div class="roundedbtn" style="background-color: var(--mc);">
					<fa-icon class="roundedbtnIcon" [icon]="faC"></fa-icon>
				</div>
			</div>
			<div class="roundedbtnTwoHolder">
				<div class="roundedbtn" style="background-color: var(--lbg);">
					<fa-icon class="roundedbtnIcon" [icon]="faT"></fa-icon>
				</div>
			</div>
		</div>
	</div>
</div>